* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* html {
  background-image: linear-gradient(white, darkslategray);
} */

body {
  margin: 0;
  padding: 0;
  background-color: #eee3;
}

header {
  background-color: #eee;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 2px solid #ccc;
  min-width: 450px;
}

main {
    /* border: 1px solid #ccc;
    box-shadow: 3px 3px 2px grey; */
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    /* padding: 30px; */
    font-size: 1.8rem;
    font-weight: 400;
    min-width: 450px;
    margin-top: 200px;
}



.head-nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    margin-left: 20px;
    width: 75%;
    height: 75%;
}

.head-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none; 
    width: 60%;
    margin-right: 20px;
    margin-top: 30px;  
}

li a:link, a:visited {
    background-color:rgb(0, 213, 115);
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  
li a:hover, a:active {
  background-color:darkslategrey;
  box-shadow: 5cm;
}

.button-green {
  background-color:rgb(0, 213, 115);
  color: white;
  height: 50px;
  padding: 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  font-weight: bold;
  border-radius: 5px;
  border: none;
  /* margin-bottom: 10px; */
}

.button-green:hover {
  cursor: pointer;
}

/* button:hover, button:active {
  background-color:darkslategrey;
  box-shadow: 5cm;
} */

input {
  width: 60%;
  margin-bottom: 10px;
  height: 50px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid rgb(173, 170, 170);
  color: #666666;
}

.showmore {
  background-color:rgb(0, 213, 115);
  color: white;
  height: 50px;
  width: 150px;
  padding: 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  border-radius: 5px;
  border: none;
  margin: 20px 0;

  /* margin-bottom: 10px; */
}

.showmore:hover{
  background-color:darkslategrey;
  box-shadow: 5cm;
}

button:hover{
  background-color:darkslategrey;
  box-shadow: 5cm;
}

.search-criteria-container {
  margin-bottom: 20px;
  font-size: 1.3rem;
  padding: 5%;
  background-color: #dffaed;
  border-radius: 15px;
}

.search-result-container-item {
}

/* .search-result-container-item.ng-scope {
justify-content: stretch;
} */

.search-result-contents {
  padding: 0 0 0 25px;
  width: 100%;
}

.heading-filter {
  color: #3e3f41;
  border-bottom: 2px solid #1b3d63;
  font-size: 1.8rem;
}
.search-criteria-filters {
  padding: 0;
  margin: 0;
}

.search-criteria-labels-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-criteria-filters label {
  font-weight: bold;
  color: #3e413f;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination-link {
  border: 1px solid #ddd; /* Gray */
  padding: 10px;
  text-align: center;
}

.search-result-section {
  text-align: left;
  border: 1px solid #eee;
  padding: 5%;
  border-radius: 15px;
  margin: 25px 0;
  box-shadow: 3px 3px 2px #eee;
  background-color: #fff;
}


.search-result-inner {
  display: flex;
}

.search-result-photo {
  width: 185px;
  padding: 0;
  margin: 0;
}

.favorite-button {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: right;
}

.movie-description {
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 2.5rem;
}

.movie-meta {
  font-size: 1.6rem;
}
.ng-hide {
  margin: 0;
  padding: 0;
}

.main-title {
  font-family: 'Montserrat', sans-serif;
  border-bottom: 4px solid #80eab9;
  font-weight: 3.1rem;
  padding: 0 5px;
  font-weight: 600;
  color: #3e413f;
}

.heading-movie-title {
  font-family: 'Montserrat', sans-serif;
  border-bottom: 4px solid #9FEFCB;
  font-weight: 600;
  font-size: 3.5rem;
  color: #3e413f;
  margin: 0 0 25px 0;
}