* {
    font-family: 'Lato', sans-serif;
}
/* html {
  background-image: linear-gradient(white, darkslategray);
} */
main {
    border: 1px solid grey;
    box-shadow: 3px 3px 2px grey;
    border-radius: 15px;
    /* margin-left: 300px; */
    /* margin-right: 300px; */
    /* display: flex; */
    text-align: center;
    justify-content: center;
    padding: 10px 30px 30px 30px;
}

main.ng-scope {
  background-color:#F5F5F5;
  width: 50%;
  margin: 0 auto;
  flex-direction: row;
}

.head-nav {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    margin-left: 20px;
    width: 75%;
    height: 75%;
}

.head-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none; 
    width: 60%;
    margin-right: 20px;
    margin-top: 30px;  
}

li a:link, a:visited {
    background-color:rgb(0, 213, 115);
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }
  
li a:hover, a:active {
  background-color:darkslategrey;
  box-shadow: 5cm;
}

button {
  background-color:rgb(0, 213, 115);
  color: white;
  height: 50px;
  padding: 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  border-radius: 5px;
  /* margin-bottom: 10px; */
}

/* button:hover, button:active {
  background-color:darkslategrey;
  box-shadow: 5cm;
} */

input {
  /* width: 400px; */
  width: 80%;
  margin-bottom: 10px;
  margin-right: 5px;
  height: 50px;
  padding-left: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.showmore {
  background-color:rgb(0, 213, 115);
  color: white;
  height: 50px;
  width: 150px;
  padding: 10px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  border-radius: 5px;

  /* margin-bottom: 10px; */
}

.showmore:hover{
  background-color:darkslategrey;
  box-shadow: 5cm;
}

button:hover{
  background-color:darkslategrey;
  box-shadow: 5cm;
}

.search-criteria-container {
margin-bottom: 20px;
}

.search-result-container-item {
  display: flex;
  text-align: left;
  padding-left: 10px;
}

.search-result-container-item.ng-scope {
justify-content: stretch;
}

.search-result-contents {
  padding: 0 25px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pagination-link {
  border: 1px solid #ddd; /* Gray */
  padding: 10px;
  text-align: center;
}

.favorites {
  list-style: none;
}
















